.settings {
    border-radius: 10px;
    background-color: pink;
    width: 10%;
    height: 60%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.settings svg {
    margin-left: 5px
}

