.leaderboard-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.leaderboard-body-container {
    background-color: lightblue;
    flex-grow: 1;
    border-radius: 15px;
    padding: 15px;
}