@import url("https://use.typekit.net/cyh5jpi.css");

.group-list-container {
    height: 90%;
    width: 100%;
    background-color: #2a2828;
    border-radius: 3px;
    padding: 3ch;
    margin-top: 5%;
}

.group-list-header-container {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5%;
}

.group-list-header-container svg {
    width: 15%;
    font-size: 2rem;
    color: #cecece;
}

.group-list-header-container h3 {
    margin-left: 5%;
    color: #cecece;
    font-family: "gelica", sans-serif;
    font-weight: 700;
    font-style: normal;
}