@import url("https://use.typekit.net/cyh5jpi.css");

.dashboard-page-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
    flex-direction: row;
}

.left-container {
    height: 100%;
    width: 40%;
    padding: 25px;
    padding-right: 12.5px;
}

.right-container {
    height: 100%;
    width: 60%;
    padding: 25px;
    padding-left: 12.5px;
}


/* .groupTitle {
    background-color: pink;
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 10px;
}

.groupInfo {
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 30px;
    flex-direction: column;
}

.groupHeader {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leaderInfo {
    margin-top: 8vh;
    width: 50%;
    height: 30%;
    background-color: beige;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bar {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: pink;
    width: 20%;
    height: 100%;
    text-align: center;
}

#bar2 {
    margin-left: 30px;
    height: 70%;
}

#bar3 {
    margin-right: 30px;
    height: 40%;
}

.quizInfo {
    width: 30%;
    height: 10%;
    align-self: center;
    margin-top: 8vh;
}

.quizMenu {
    width: 100%;
    height: 50%;
    background-color: beige;
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */