.landing-page-container {
    height: 100vh;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: lightblue;
}

.login-panel-container {
    width: 40%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.galaxy-panel-container {
    width: 60%;
}