.landing-page-container {
    height: 100vh;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: white;
    background-color: #FFE5E5;
    background-image: 
        radial-gradient(circle at 20% 20%, #FFD1D1 0%, transparent 50%),
        radial-gradient(circle at 80% 80%, #FFCCCB 0%, transparent 50%);
}