.landing-page-container {
    height: 100vh;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.landing-page-left-main {
    height: 100%;
    width: 60%;
    background-color: lightblue;
    border-radius: 15px;
    margin-right: 7.5px;
}

.landing-page-right-main {
    height: 100%;
    width: 40%;
    margin-left: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page-logo-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 800px) {
    .landing-page-container {
        align-items: center;
        justify-content: center;
    }
    .landing-page-left-main {
        display: none;
    }
    .landing-page-right-main {
        margin: 0;
    }
}