@import url("https://use.typekit.net/cyh5jpi.css");

.create-account-container {
    height: 500px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    padding: 25px;
}

.create-form-title {
    color: #282828;
    font-size: 2rem;
    font-family: "quiroh", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.register-form-label {
    font-size: 0.8rem;
    color: #282828;
    margin-bottom: 3px;
}

.register-form-input {
    background-color: rgb(242, 242, 242) !important;
    border: none !important;
    color: #282828 !important;
    border-radius: 10px !important;
}

.register-form-btn {
    width: 100% !important;
    background-color: rgb(79, 34, 240) !important;
    border: none !important;
    border-radius: 10px !important;
    margin-top: 5%;
    margin-bottom: 1%;
}