.main {
    display: flex;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    
}

.left-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 20%;
    padding: 1%;
}
.groupList {
    height: 90%;
    width: 100%;
    background-color: #2a2828;
    border-radius: 3px;
    padding: 3ch;
}
.personal {
    height: 10%;
    width: 100%;
    background-color: #2a2828;
    border-radius: 3px;
    margin-top: 5%;
}

.right-main {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 1%;
    padding-left: 0;
}

.groupInfo {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #c6def1;
    margin: auto;
    border-radius: 3px;
    justify-content: center;
}

.groupHeader {
    width: 90%;
    height: 10%;
    background-color: beige;
}

